@page
@model PetMatch.Pages.AdoptionRequests.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AdoptionRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AdoptionRequest.ID" />
            <div class="form-group">
                <label asp-for="AdoptionRequest.RequestDate" class="control-label"></label>
                <input asp-for="AdoptionRequest.RequestDate" class="form-control" />
                <span asp-validation-for="AdoptionRequest.RequestDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdoptionRequest.Message" class="control-label"></label>
                <input asp-for="AdoptionRequest.Message" class="form-control" />
                <span asp-validation-for="AdoptionRequest.Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdoptionRequest.Status" class="control-label"></label>
                <input asp-for="AdoptionRequest.Status" class="form-control" />
                <span asp-validation-for="AdoptionRequest.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdoptionRequest.AnimalID" class="control-label"></label>
                <select asp-for="AdoptionRequest.AnimalID" class="form-control" asp-items="ViewBag.AnimalID" ></select>
                <span asp-validation-for="AdoptionRequest.AnimalID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdoptionRequest.MemberID" class="control-label"></label>
                <select asp-for="AdoptionRequest.MemberID" class="form-control" asp-items="ViewBag.MemberID" ></select>
                <span asp-validation-for="AdoptionRequest.MemberID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
