@page
@model PetMatch.Pages.Animals.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Animal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <<form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Animal.ID" />
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="Animal.Name" class="control-label"></label>
                <input asp-for="Animal.Name" class="form-control" aria-required="true"/>
                <span asp-validation-for="Animal.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.Description" class="control-label"></label>
                <input asp-for="Animal.Description" class="form-control" />
                <span asp-validation-for="Animal.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.Age" class="control-label"></label>
                <input asp-for="Animal.Age" class="form-control" />
                <span asp-validation-for="Animal.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.RescueDate" class="control-label"></label>
                <input asp-for="Animal.RescueDate" class="form-control" />
                <span asp-validation-for="Animal.RescueDate" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Animal.ImageUrl" />

            @if (!string.IsNullOrEmpty(Model.Animal.ImageUrl))
            {
                <div class="form-group mb-3">
                    <label>Poza curentă:</label><br />
                    <img src="~/images/animals/@Model.Animal.ImageUrl" style="width: 150px; border-radius: 10px; margin-bottom: 10px;" />
                </div>
            }

            <div class="form-group mb-3">
                <label class="control-label">Schimbă Fotografia</label>
                <input type="file" asp-for="AnimalImage" class="form-control" accept="image/*" />
                <span asp-validation-for="AnimalImage" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Animal.ShelterID" class="control-label">Adăpostul unde se află</label>
                <select asp-for="Animal.ShelterID" class="form-control" asp-items="ViewBag.ShelterID"></select>
                <span asp-validation-for="Animal.ShelterID" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Animal.CategoryID" class="control-label">Categoria</label>
                <select asp-for="Animal.CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
                <span asp-validation-for="Animal.CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
